.anychart-credits {
    display: none;
}

html {
    height: 100%;
}
.code-font{
    font-family: 'Courier new', Courier, Helvetica, sans-serif;
}

.navbar-brand{
    position: relative;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 25px;
    color: #d5edff;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 0;
}
.navbar-brand > img {
    height: 28px;
    width: 117px;
}
.navbar-brand .chart-row {
    position: absolute;
    bottom: 4px;
    left: 34px;
    letter-spacing: -3px;
    line-height: 0;
    font-size: 0;
    white-space: nowrap;
}
.navbar-brand .chart-row .chart-col {
    display: inline-block;
    width: 5px;
    height: 18px;
    background: #000;
    margin: 0 1px;
    vertical-align: bottom;
    -webkit-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
    -moz-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
    -ms-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
    -o-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
    transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
}
.navbar-brand .chart-row .chart-col.green {
    background: #26a957;
    height: 8px;
}
.navbar-brand .chart-row .chart-col.red {
    background: #f0402e;
    height: 18px;
}
.navbar-brand .chart-row .chart-col.orange {
    background: #ff8207;;
    height: 13px;
}
.navbar-brand:hover .chart-row .chart-col.green {
  height: 16px;
}
.navbar-brand:hover .chart-row .chart-col.orange {
  height: 5px;
}
.navbar-brand:hover .chart-row .chart-col.red {
  height: 10px;
}


.custom-tooltip{
    position: absolute;
    display: none;
    z-index: 500;
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #ddd;
    color: #212121;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
}
.custom-tooltip .time{
    font-size: 16px;
    color: #263238;
}
.custom-tooltip .resolution{
    font-size: 20px;
    color: #263238;
}
.custom-tooltip .speed{
    font-size: 14px;
    color: #929292;
}
.custom-tooltip .subtitle{
    font-size: 14px;
    color: #929292;
    margin: 3px 0 10px 0;
}
.custom-tooltip .table{
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.custom-tooltip .table td{
    padding: 2px;
}
.custom-tooltip .subtitle .visits{
    color: #263238;
}

#container-pages-overview{
    border-top: 1px solid #f1f1f1;
    padding-top: 15px;
    width: 250px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background: #fff;
}

.title-panel {
    border-bottom: 1px solid #1f74b6;
    background: #2485d0;
    color: #f3f3f3;
    border-radius: 0;
    padding: 7px 20px 7px;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
    -moz-box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
    box-shadow: 3px 3px 3px -1px rgba(124, 134, 142, 0.4);
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
}
.title-panel .fa{
    color: #f3f3f3;
}
.footer-panel {
    z-index: 10;
    width: 100%;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    display: block;
    float: left;
}
.footer-panel .footer{
    margin: 0 auto;
    text-align: right;
    padding: 0 20px;
    line-height: 20px;
}
.footer-panel .footer a{
    text-decoration: underline;
}

h1.title {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #f3f3f3;
    font-family: 'Source Sans Pro', sans-serif;
}

.divider {
    width: 100%;
    height: 30px;
}

.submenu {
    margin-right: 30px;
}

.submenu a {
    padding: 0 10px;
    margin-top: 5px;
}

.submenu a .fa {
    font-size: 20px;

}

.submenu .dropdown-menu a {
    color: #545f69;
}

.submenu .dropdown-menu a .fa {
    font-size: 16px;
    color: #7c868e;
}

.container-fluid{
    height: 100%;
    margin-top: -20px;
    padding-top: 70px;
    background: #ffffff;
    z-index: 20;
}
#container-dashboard{
    height: 100%;
    min-height: 500px;
    width: 100%;
    float: left;
    padding: 20px;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 80%;
        height: 100%;
        margin: 30px auto;
    }
    #container-dashboard{
        height: 100%;
        width: 70%; /* 4. todo: delete this line to remove streaming section */
    }
}